:root {
  --black: #212121;
  --grey: #414141;
  --light-grey: #aeaeae;
  --blue: #569bed;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
  font-family: 'Roboto', sans-serif;

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px
  }

  @include respond(phone) {
    font-size: 43.75%; // 1 rem = 7px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}
