.container {
  padding: 0 2rem;
  max-width: 100rem;
  margin: 0 auto;
}

.header {
  margin-top: 9rem;
  padding-bottom: 3.5rem;
  margin-bottom: 6.5rem;
  border-bottom: 1px solid var(--light-grey);
  text-align: center;
}

.heading {
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
  @include respond(tab-port) {
    font-size: 2.8rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }

  @include respond(small-phone) {
    font-size: 1.6rem;
  }
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--grey);

  @include respond(phone) {
    font-size: 1.2rem;
  }

  @include respond(small-phone) {
    font-size: 1rem;
  }
}

.repos {
  margin: 0 auto;
}

.star-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--grey);
  margin-right: 0.6rem;
}

.lds-ripple {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--black);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.btn {
  display: inline-block;
  padding: 1.5rem 0.75rem;
  font-size: 1.4rem;
  color: #ffffff;
  background: var(--blue);
  cursor: pointer;
}

.link,
.link:visited,
.link:active {
  text-decoration: none;
  color: inherit;
}
