@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 21.875em) {
      @content;
    } //350px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 80em) {
      @content;
    } //1280px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 120.1em) {
      @content;
    } //1921
  }
}
