.repo {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 60rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 4.5rem;

  @include respond(phone) {
    width: 90%;
    flex-direction: column;
  }

  &__avatar {
    width: 12rem;
    height: 12rem;
    margin-right: 6rem;
    background: var(--grey);
    border-radius: 50%;

    @include respond(phone) {
      margin-bottom: 2rem;
    }

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &__info {
    max-width: 40rem;

    @include respond(phone) {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 2.4rem;
    color: var(--blue);
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: 2.5rem;
  }

  &__facts {
    color: var(--grey);
    font-size: 1.2rem;
  }

  &__fact {
    @include respond(phone) {
      display: block;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
      @include respond(phone) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
